<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<script>
    function registForm(){
        location.href = "/board/registForm";
    }

</script>
</head>
<body>

<h2>Zebra Striped Table</h2>
<p>For zebra-striped tables, use the nth-child() selector and add a background-color to all even (or odd) table rows:</p>

<table>
  <tr>
    <th>No</th>
    <th>제목</th>
    <th>작성자</th>
    <th>등록일</th>
    <th>조회수</th>
  </tr>
  <%for(var i=0; i<boardList.length; i++){%>
    <%var board=boardList[i]; %>
  <tr>
    <td></td>
    <td>
        <a href="/board/detail?board_id=<%=board.board_id%>"><%=board.title%></a>
    </td>
    <td><%=board.writer%></td>
    <td><%=board.regdate%></td>
    <td><%=board.hit%></td>
  </tr>
  <%}%>
  <tr>
    <td colspan="5">
        <button onclick="registForm()">글등록</button>
    </td>
  </tr>
</table>

</body>
</html>